.test {
	background-color: #dee;
	padding: 5px;
	border-radius: 3px;
}

.search {
	position: fixed;
	top: 5px;
	right: 5px;
	display: grid;
	grid-template: 1fr / 3fr 1fr;
}

.search input {
	padding: 4px;
}

.add {
	margin: 5px;
	display: grid;
	grid-template: 2fr 1fr / 100%;
	width: 40%;
}